.generatedHashPrefix-scene {
    position: relative;
    height: 146px;
    background: gray;
    background: linear-gradient(#00576a, #000B11, #010302);
}

.generatedHashPrefix-scene .water {
    position: absolute;
    height: 10px;
    bottom: 50px;
    left: 0;
    right: 0;
    background: url('img/wave.svg');
    background-size: contain;
}

.generatedHashPrefix-scene .water::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 5px;
    background: url('img/wave.svg');
    background-size: contain;
    background-position-x: 40px;
}

.generatedHashPrefix-scene .progress {
    position: absolute;
    height: 10px;
    bottom: 40px;
    left: 0;
    right: 0;
    background: #0F161C;
}

.generatedHashPrefix-scene .progressArrow {
    content: "";
    position: absolute;
    bottom: -1px;
    top: -1px;
    will-change: left;
    left: 0;
    background: #FFDC88;
    box-shadow: 0 5px 10px rgb(255, 176, 65);
    transition: left 0.5s ease-in-out;
    background: #F4BF18;
    z-index: 1;
}

.generatedHashPrefix-scene .progressArrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -3px;
    background: #F4BF18;
    box-shadow: 0 20px 15px rgb(230, 133, 30);
}

.generatedHashPrefix-scene .progressArrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -3px;
    background: #F4BF18;
    box-shadow: 0 20px 20px rgb(230, 133, 30);
}

.generatedHashPrefix-scene .progressFill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #FFB041;
    transition: width 0.5s ease-in-out;
}

.generatedHashPrefix-scene .boat {
    position: absolute;
    will-change: left;
    height: 40px;
    left: 0;
    bottom: 55px;
    transition: left 0.5s ease-in-out;
    z-index: 1;
}

.generatedHashPrefix-scene .boat::before {
    content: "";
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 7px;
    bottom: 6px;
    height: 5px;
    box-shadow: 0 10px 7px rgb(230 133 30);
}

.generatedHashPrefix-scene .boat img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.generatedHashPrefix-scene .boatText {
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    text-align: center;
    text-shadow: 0 0 12px rgb(230 133 30);
    font-size: 14px;
    font-weight: 700;
    color: orange;
}